extends ./layout/index
block contenido
   main.container.mt-5 
        .row 
            .col-md-5
                 img(src="img/nosotros.jpg", alt="img",class="img-fluid")
            .col-md-7
                 h1 #{pagina}
                 blockquote  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas cumque dolores pariatur nemo blanditiis quidem, iste voluptatem, placeat ipsum labore quisquam, enim laudantium accusamus. Cum blanditiis fugiat deserunt vero adipisci.
                 p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero perferendis soluta beatae dolore aspernatur culpa saepe a voluptate neque cum amet ratione, consectetur assumenda asperiores. Quaerat quis dolorem rem. Odio.
                 p Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque consectetur non atque minima, voluptas illo molestias voluptatibus optio quibusdam explicabo facilis sint expedita placeat labore quam dolorum sit, laudantium ad.
   .listado-iconos
              .container.mt-5.py-5.text-center 
                      .row 
                          .col-md-4
                               img(src="img/icono_seguridad.svg", alt="iconos seguridad", class="img-fluid mb-4")
                               h2.mb-4 Segurida 
                               p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, nobis.
                          .col-md-4
                               img(src="img/icono_destinos.svg", alt="iconos seguridad", class="img-fluid mb-4")
                               h2.mb-4 Destinos 
                               p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, nobis.
                          .col-md-4
                               img(src="img/icono_precio.svg", alt="iconos seguridad", class="img-fluid mb-4")
                               h2.mb-4 Precio 
                               p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, nobis.

                               